@font-face {
    font-family: 'book';
    src: url(./font/FontsFree-Net-Maison-Neue-Book.ttf);
}
@font-face {
    font-family: 'book-light';
    src: url(./font/FontsFree-Net-Maison-Neue-Light.ttf);
}
* {
margin: 0;
padding: 0;
}  
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-image: url(./img/5039684-1920x1080.jpg);
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
nav {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'book';
    font-size: 20px;
}
.link-container {
    display: flex;
    gap: 25px;
}
.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.3s ease-out;
}
.link {
    display: inline-block;
    position: relative;
    
}
.link:hover::after {
    transform: scaleX(0.99);
}
.middle {
    display: flex;
    justify-content: center;
    height: 90%;
}
.highscore , .track {
    text-align: center;;
    margin-top: 10px;
    color: white;
}
.list {
    width: 70%;
    background-color: white;
    height: 5%;
    font-weight: bolder;
    margin-top: 10px;
    border-radius: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    flex-direction: column;
}
.ranking {
    background-color: #fafafa;
    margin-top: 20px;
    width: 70%;
    border-radius: 30px;
}
.leaderboard {
    width: 70%;
    height: 110%; 
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    font-family: 'book';   
}
.list div {
    flex: 1; 
    text-align: center; 
}
.flexgap {
    display: flex;
    justify-content: space-between; 
    padding: 8px; 
    border-bottom: 1px solid #ddd; 
}
.flexgap:last-child {
    border-bottom: none; 
}
.position, .login, .wynik {
    flex: 1; 
    text-align: center; 
    padding: 10px;
}
.test {
    backdrop-filter: blur(10px);
    height: 20%;
    margin-left: 20px;
    color: white;
    font-family: 'book-light';
    width: 19%;
    text-align: center;
    border-radius: 20px;
}
.test h2 {
    margin-top: 15px;
}
